name: CI/CD Pipeline

permissions:
  contents: write
  issues: write
  pull-requests: write

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Lint & Test
        run: |
          npm run lint
          npm test

      - name: SonarCloud Scan (SAST)
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Start App
        run: |
          nohup npm start &
          sleep 5

      - name: OWASP ZAP Baseline Scan (DAST)
        uses: zaproxy/action-baseline@v0.13.0
        with:
          target: "http://localhost:3000"
          fail_action: false
          allow_issue_writing: true
          upload_artifact: true
          artifact_name: zap-scan

      - name: Upload ZAP HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report-html
          path: zap_report.html

      - name: Upload ZAP MD Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report-md
          path: zap_report.md

      - name: Upload ZAP JSON Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report-json
          path: zap_report.json
